/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Whitney",sans-serif;
}
.container {
    width: 70%;
    margin: auto;
}
.col {
    float: left;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.img {
    width: 100%;
}

/* BUTTON */
.btn-small {
    display: inline-block;
    line-height: normal;
    padding: 6px 10px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 12px;
}
.btn-white {
    color: black;
    background-color: white;
}

/* HEADER */
header {
    height: 450px;
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.logo, .login {
    width: 10%;
}
.logo img {
    vertical-align: middle;
}
.menu {
    width: 80%;
    text-align: center;
}
.menu a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
    font-size: 14px;
}
.menu a:first-child {
    padding-left: 60px;
}
.login {
    text-align: end;
}
.nav {
    height: 50px;
    line-height: 50px;
}
.jumbotron {
    width: 50%;
    margin: auto;
    text-align: center;
}